.switchNutricional {
    position: relative;
}

.switchNutricional {
    input {
        -webkit-appearance: none;
        appearance: none;
        background-color: white;
        width: 80px;
        border-radius: 50px;
        height: 25px;
        margin: 8px;
        box-shadow: inset 0 1px 5px rgba(0, 0, 0, .5);
    }
}

.switchNutricional {
    input:focus {
        outline: none;
        cursor: pointer;
    }
}

.switchNutricional {
    input:before {
        content: '';
        margin-top: 2px;
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50px;
        background-color: white;
        box-shadow: inset 0 0 0 2px #333, 0 2px 5px rgba(0, 0, 0, .5);
        position: absolute;
        left: 12px;
        transition: left .3s ease-out;
        -webkit-transition: left .3s ease-out;
    }
}

.switchNutricional {
    input:after {
        content: 'Não sei';
        display: block;
        margin-top: 5px;
        left: 36px;
        position: absolute;
        font-family: var(--font-primary);
        font-size: 12px;
        font-weight: bold;
        transition: left .3s ease-out;
        -webkit-transition: left .3s ease-out;
        color: var(--color-secondary);
    }
}

.switchNutricional {
    input:checked {
        width: 60px;
        background-color: var(--color-secondary);
    }
}

.switchNutricional {
    input:checked:before {
        left: 46px;
        box-shadow: inset 0 0 0 2px var(--color-primary), 0 2px 5px rgba(0, 0, 0, .5);
    }
}

.switchNutricional {
    input:checked:after {
        content: 'Sei';
        left: 23px;
        color: white;

    }
}

@media (min-width:500px) {

    .switchNutricional {
        input {
            margin: 15px;
        }

        input:before {
            left: 19px;

        }

        input:after {
            left: 42px;
        }
    }

    .switchNutricional {
        input:checked:before {
            left: 53px;
        }
    }

    .switchNutricional {
        input:checked:after {
            left: 28px;

        }
    }



}