.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 97vh;
    align-items: center;
    justify-content: space-around;

    h3 {
        margin: 20px 0;
    }
}

.cardInner {
    display: flex;
    width: 100%;
    height: 70%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transition: transform 2s;
}

.flipped .cardInner {
    transform: rotateY(180deg);
    transition: transform 2s;
}

.cardFront,
.cardBack {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    position: absolute;
    backface-visibility: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

}

.cardFront {
    .macros {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            color: var(--color-secondary);
            margin-bottom: 10px;
        }

    }

    button {
        width: 50%;
        height: 30px;
        background-color: var(--color-primary);
        font-weight: bolder;
        box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.089);
        font-size: 0.875rem;
        color: white;

        &:hover {
            background-color: var(--color-secondary);
        }
    }
}

.cardBack {
    transform: rotateY(180deg);
    justify-content: flex-start;

    .info {
        flex-direction: column;
        align-items: center;

        p {
            margin: 2.5vh 2.5vh 0 2.5vh;
            font-size: 2.5vh;
        }
    }

    .formMacros {
        flex-direction: column;
        align-items: center;
        width: 100%;

        .buttonContainer {

            justify-content: center;
            margin: 2.5vh;
            align-items: center;

            p {
                margin-top: 5px;
            }

            button {
                height: 50px;
                width: 100%;
                background-color: var(--color-primary);
                box-shadow: 0px 10px 2.5vh rgba(0, 0, 0, 0.1);
                transition: all 0.3s ease;
            }

            button:hover {
                transform: translateY(-3px);
                color: var(--color-secondary);
            }

            button:active {
                transform: translateY(1px);
            }
        }
    }
}

.bothSidesButtons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

    a {
        margin: 2.5vh;
        width: 100%;

        button {
            min-width: 120px;
            width: 100%;
            height: 40px;
            background-color: var(--color-primary);
            font-weight: bolder;
            box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.089);
            font-size: 0.875rem;
            color: white;

            &:hover {
                background-color: var(--color-secondary);
            }
        }

    }
}

@media (min-width:500px) {
    .card {
        width: 100%;

        .cardInner,
        .info,
        .macros,
        .bothSidesButtons {
            width: 500px;
        }

        .cardBack {
            justify-content: center;
        }
    }
}