body {
    font-family: var(--font-primary);
}

h1 {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--blue-0);
}

h2 {
    font-size: .9375rem;
    font-weight: 600;
    line-height: 1.25rem;
    color: var(--blue-0);
}

h3 {
    font-size: .9375rem;
    font-weight: 600;
    line-height: 1.25rem;
    color: var(--color-secondary);
}

p {
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: var(--color-secondary);
}

span {
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: var(--blue-0);
}