    .resultBMI,
    .resultFFM {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 28px;

        p {
            font-size: 1rem;

        }

        h3 {
            box-shadow: 0 2px 1px 0 var(--color-primary);
            font-size: 1.25rem;
            margin: 10px 0 10px 0;
        }

        span {
            font-size: 1rem;
            margin-bottom: 2.5vh;

        }
    }

    .resultGEB,
    .resultGED {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 90%;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.075);
        margin: 5px 2.5vh;
        padding: 10px;
        height: 50px;

        h3 {
            box-shadow: 0 2px 1px 0 var(--color-primary);
            width: 5rem;
        }

        p {
            margin-bottom: 10px;
        }
    }

    .Tooltip {
        position: relative;
        width: 100%;

        button {
            border-radius: 50%;
            border: none;
            position: absolute;
            top: -72px;
            right: -27px;
            background-color: rgba(0, 0, 0, 0.26);
            color: white;
            font-size: 0.625rem;

            &:hover {
                background-color: var(--color-secondary);
            }
        }

        div {
            position: absolute;
            bottom: 90px;
            right: 10px;
            border: 2px solid var(--color-secondary);
            background-color: white;
            border-radius: 20px;
            padding: 5px;
            color: black;
        }
    }

    @media (min-width:500px) {

        .resultGEB,
        .resultGED {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 25px;
            width: 90%;
            margin: 10px 0;

            p {
                margin: 0;
                margin-left: 30px;
            }

            h3 {
                margin-left: 20px;
            }
        }

        .Tooltip {
            button {
                top: -33px;
                right: -41px;
            }

            div {
                width: 450px;
                bottom: 25px;
                right: -35px;
            }
        }


    }