.inputNutritional {
    position: relative;
    display: flex;
    font-weight: 700;
    flex-direction: column;
    width: 55px;
    margin: 0 15px 0 15px;

    input:focus {
        outline: 0;
        box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.664);
    }

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    input {
        font-size: 0.9375rem;
        border: none;
        box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.315);
        width: 100%;
        font-family: var(--font-primary);
        color: var(--color-secondary);
        font-weight: 700;
        height: 25px;
        z-index: 1;
        background: rgba(255, 255, 255, 0);
    }

    span {
        position: absolute;
        color: rgba(0, 0, 0, 0.664);
        left: 1px;
        top: 20px;
        z-index: 0;
        transition: transform 0.3s;
        transform-origin: left bottom;

    }
    
    span.active {
        color: rgb(0, 0, 0);
        right: -5px;
        transform: translateX(calc(100% - 30px));
    }

    label{
        font-size: 14px;
    }

}